{%extends "master.html"%}

{% block title %}
{{myteam.name}} Details
{% endblock %}

{% block content %}
<h1>{{myteam.name}} Details</h1>

<h2>Team Members</h2>
<ul>
    <li>{% if myteam.pokemon1 %}{% myteam.pokemon1 %}{% endif %}</li>
    <li>{% if myteam.pokemon2 %}{% myteam.pokemon2 %}{% endif %}</li>
    <li>{% if myteam.pokemon3 %}{% myteam.pokemon3 %}{% endif %}</li>
    <li>{% if myteam.pokemon4 %}{% myteam.pokemon4 %}{% endif %}</li>
    <li>{% if myteam.pokemon5 %}{% myteam.pokemon5 %}{% endif %}</li>
    <li>{% if myteam.pokemon6 %}{% myteam.pokemon6 %}{% endif %}</li>
</ul>
{% endblock %}