{%extends "master.html"%}

{% block title %}
{{myteam.name}} Details
{% endblock %}

{% block content %}
<h1>{{myteam.name}} Details</h1>

<h2>Team Members</h2>
<ul>
    <li>{% if myteam.pokemon1 %}{{myteam.pokemon1.id}} {{myteam.pokemon1}} {{myteam.pokemon1.types.first}},{{myteam.pokemon1.types.last}} {% endif %}</li>
    <li>{% if myteam.pokemon2 %}{{myteam.pokemon2.id}} {{myteam.pokemon2}} {{myteam.pokemon2.types.first}},{{myteam.pokemon2.types.last}} {% endif %}</li>
    <li>{% if myteam.pokemon3 %}{{myteam.pokemon3.id}} {{myteam.pokemon3}} {{myteam.pokemon3.types.first}},{{myteam.pokemon3.types.last}} {% endif %}</li>
    <li>{% if myteam.pokemon4 %}{{myteam.pokemon4.id}} {{myteam.pokemon4}} {{myteam.pokemon4.types.first}},{{myteam.pokemon4.types.last}} {% endif %}</li>
    <li>{% if myteam.pokemon5 %}{{myteam.pokemon5.id}} {{myteam.pokemon5}} {{myteam.pokemon5.types.first}},{{myteam.pokemon5.types.last}} {% endif %}</li>
    <li>{% if myteam.pokemon6 %}{{myteam.pokemon6.id}} {{myteam.pokemon6}} {{myteam.pokemon6.types.first}},{{myteam.pokemon6.types.last}} {% endif %}</li>
</ul>

<button><a href="update_team/">Edit</a></button>
<button><a href="{% url 'delete_team' myteam.id %}">Delete</a></button>
{% endblock %}