{%extends "master.html"%}

{% block title %}
Teams
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1 style="text-align:center">{{user.username}}'s Teams</h2>
    {% if myteams %}
    <div class="mycardall">
        <ul>
        {% for team in myteams %}
        <a href="details/{{team.id}}"><li>{{team.name}}</li></a>
        {% endfor %}
        </ul>
    </div>
    {% else %}
        <div class="mycardall">
            <ul><li>You have no teams</li></ul>
        </div>
    {% endif %}
    <a href="{% url 'create_team' %}"><button>Create Team</button></a>



{% endif %}
{% endblock %}