@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

body {
  margin:0;
  font: 600 18px 'Press Start 2P', sans-serif;
  letter-spacing: 0.64px;
  color: #585d74;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-top: 3rem;    /* Height of sticky header */
  padding-bottom: 2.5rem;    /* Footer height */
}
.footer {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: red;
  color: black;
  text-align: right;
  font-size: 12px;
}
.topnav {
  background-color:#375BDC;
  color:#ffffff;
  padding:10px;
  position: sticky;
  top: 0;
  height: 3rem;

}
.topnav a:link, .topnav a:visited {
  text-decoration: none;
  color: #ffffff; 
  font-family: 'Cherry Cream Soda', cursive;
}
.topnav a:hover, .topnav a:active {
  text-decoration: underline;
}



.mycard {
  background-color: #f1f1f1;
  background-image: linear-gradient(to bottom, #00ca3d, #4D70EF); 
  margin: 40px auto;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

/* A card to show 50 pokemon at a time*/
.mycardall {
  background-color: #f1f1f1;
  background-image: linear-gradient(to right, #fa0e0e, #4D70EF); 
  margin: 40px auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

/* fire type pokemon card*/
.mycardfire {
    background-image: linear-gradient(to bottom, #f00c0c, #e27f06); 
    background-size: 100% 120px;
    background-repeat: no-repeat;
    margin: 40px auto;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
    padding: 20px;
  }

.mycardnormal {
  background-image: linear-gradient(to bottom, #a8a878, #a8a878); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardwater {
  background-image: linear-gradient(to bottom, #4592c4, #4592c4); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardelectric {
  background-image: linear-gradient(to bottom, #f8d030, #f8d030); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardgrass {
  background-image: linear-gradient(to bottom, #78c850, #78c850); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}   

.mycardfighting {
  background-image: linear-gradient(to bottom, #c03028, #c03028); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardpoison {
  background-image: linear-gradient(to bottom, #a040a0, #a040a0); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardground {
  background-image: linear-gradient(to bottom, #e0c068, #e0c068); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardflying {
  background-image: linear-gradient(to bottom, #a890f0, #a890f0); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardpsychic {
  background-image: linear-gradient(to bottom, #f85888, #f85888); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardbug {
  background-image: linear-gradient(to bottom, #a8b820, #a8b820); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardrock {
  background-image: linear-gradient(to bottom, #b8a038, #b8a038); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardghost {
  background-image: linear-gradient(to bottom, #705898, #705898); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycarddragon {
  background-image: linear-gradient(to bottom, #7038f8, #7038f8); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycarddark {
  background-image: linear-gradient(to bottom, #705848, #705848); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardsteel {
  background-image: linear-gradient(to bottom, #b8b8d0, #b8b8d0); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycardfairy {
  background-image: linear-gradient(to bottom, #ee99ac, #ee99ac);
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}

.mycard h1 {
  text-align: center;
  color:#ffffff;
  margin:20px 0 60px 0;
}

.fire li{    
  background-color: #c12b2b;
 }
 
 .normal li{
   background-color: #a8a878;
 }
 
 .water li{
   background-color: #4592c4;
 }
 
 .electric li{
   background-color: #f8d030;
 
 }
 
 .grass li{
   background-color: #78c850;
 }
 
 .bug li{
   background-color: #a8b820;
 } 
 .fighting li{
   background-color: #c03028;
 }
 
 .poison li{
   background-color: #a040a0;
 }
 
 .ground li{
   background-color: #e0c068;
 }
 
 .fairy li{
   background-color: #f85888;
 }   
 
 .ice li{
   background-color: #98d8d8;
 }
 
 .dragon li{
   background-color: #7038f8;
 }
 
 .flying li{
   background-color: #a890f0;
 }
 
 .psychic li{
   background-color: #f85888;
 }
 
 .rock li{
   background-color: #b8a038;
 }
 
 .ghost li{
   background-color: #705898;
 }
 
 .steel li{
   background-color: #b8b8d0;
 }
 
 .dark li{
   background-color: #705848;
 }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  background-color: #ffffff;
  background-size: 50px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform .25s;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  padding: 15px;
  padding-left: 70px;
  margin-top: 5px;
}
li:hover {
  transform: scale(1.1);
}
a:link, a:visited {
  color: #000000;
  text-decoration: none; 
}
.main, .main h1 {
  text-align:center;
  color:#375BDC;
}

h1 {
  font-family: 'Bangers', cursive;
}

/* show and hide filter form with button */
#filterFormButton {
  background-color: #375BDC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.hidden {
  display: none;
}

